/* Styles for the App component */
body {
  background-image: linear-gradient(to bottom right, #6495ED, #FFA500);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.add {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 40px;
}

.add:hover {
  background-color: #FF8C00;
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
}

.text {
  flex: 1;
  font-size: 16px;
  color: #fff;
}

.icons {
  display: flex;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #FFA500;
}
